body {
    background-image: url("track.jpg"); /* Change background image to fit the title*/
    background-size: cover;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    height: 100vh;
}

/*.container {
    background: green;
    max-width: 50%;
    margin: auto;
    border: 2px solid black;
    border-radius: 8px;
}*/
h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button { /*Change button colours, border, and appearance */
    border: 2px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: grey;
}

#save-el {
    font-weight: bold;
}

